<script setup lang="ts">
import { ref, computed } from 'vue'
import { onMounted } from 'vue'
import { getAllPhoto } from '@/api/photo'
import { addStar } from '@/api/star'
import { addCollect, getCollectByAccount } from '@/api/collect'

const imgList = ref();

const collectList = ref([]);

// 用户名
const account = computed(() => window.localStorage.getItem('account'))

const starHander = async (account: string | null, photoId: number) => {
  // alert('不会做');
  try {
    const rs = await addStar(account, photoId);
    initPhotoList()
    console.log(rs.data);
  } catch (error) {
    alert('点赞失败了哦');
  }
}

const collectHander = async (account: string | null, photoId: number) => {
  // alert('这个需求做不了');
  try {
    const rs = await addCollect(account, photoId);
    if (rs.data.code === 233) {
      alert(rs.data.data);
    }
    initPhotoList()
  } catch (error) {
    alert('收藏失败了哦');
  }
}

const initPhotoList = async () => {
  try {
    const rs = await getAllPhoto();
    imgList.value = rs.data.data;
    console.log(rs);
  } catch (error) {
    console.log('获取图片列表出现错误');
  }
  try {
    const rs = await getCollectByAccount(account.value);
    collectList.value = rs.data.data;
    console.log(rs.data.data);
  } catch (err) {
    console.log(err);
  }
}

const isExistCollect = (photoId: number) => {
  const count = collectList.value.filter(e => {
    if (e.photoid == photoId) {
      return true;
    }
  }).length;

  return count > 0;
}

onMounted(() => {
  console.log(`the component is now mounted.`)
  initPhotoList()
})

const uploadCard = ref(false)


const isLogin = () => {
  const u = window.localStorage.getItem('account')
  if (u !== '' && u !== null) {
    return true
  } else {
    return false
  }
}

const username = (): string => {
  const u = window.localStorage.getItem('account')
  if (u !== '' && u !== null) {
    return u
  } else {
    return '未登录'
  }
}
const activeIndex = ref('1')
const handleSelect = (key: string, keyPath: string[]) => {
  console.log(key, keyPath)
}
const logout = () => {
  window.localStorage.setItem('account', '')
  location.reload();
}
</script>

<template>
  <header>
    <el-menu
      :default-active="activeIndex"
      class="el-menu-demo"
      mode="horizontal"
      router
      :ellipsis="false"
      @select="handleSelect"
    >
      <el-menu-item index="/">iKun后援站</el-menu-item>
      <div class="flex-grow" />
      <el-sub-menu index="1">
        <template #title>{{ username() }}</template>

        <el-menu-item v-if="!isLogin()" index="/user/login">登录</el-menu-item>
        <el-menu-item v-if="!isLogin()" index="/user/register">注册</el-menu-item>
        <template v-if="isLogin()">
          <el-menu-item index="/user/center">个人中心</el-menu-item>
          <el-button
            type="primary"
            @click="
              () => {
                uploadCard = true
              }
            "
            >上传表情</el-button
          >
          <el-button type="primary" @click="logout">退出登录</el-button>
        </template>
      </el-sub-menu>
    </el-menu>
  </header>
  <main style="margin-top: 15px;">
    <div v-if="!isLogin()">请先登录!!!</div>
    <div class="img-list" v-if="isLogin()">
      <el-row>
        <el-col style="margin-top: 16px;" v-for="item in imgList" :key="item.photoId" :span="4" :offset="1">
          <el-card shadow="hover" :body-style="{ padding: '5px' }" style="display: flex;justify-content: center;border-radius: 5px;">
            <el-image style="width: 200px; height: 200px" :src="`/api${item.src}`" fit="fill" />
            <div style="padding: 14px">
              <el-row>
                <span>UP主: {{ item.account }}</span>
              </el-row>
              <el-row>
                <span>表情号: {{ item.photoId }}</span>
              </el-row>
              <div class="bottom">
                <el-row>
                  <el-col :span="12">点赞数: {{ item.star }}</el-col>
                  <el-col :span="12">收藏数: {{ item.collect }}</el-col>
                </el-row>
                <el-button text @click="() => starHander(account, item.photoId)">赞一个</el-button>
                <el-button text @click="collectHander(account, item.photoId)">{{ isExistCollect(item.photoId) ? '已收藏' : '收藏' }}</el-button>
              </div>
            </div>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </main>

  <el-dialog v-model="uploadCard" title="上传表情" width="30%" center>
    <form method="post" :action="'/api/upload?account=' + account" enctype="multipart/form-data">
      <!-- <input type="text" name="account" v-model="account" style="display: none;" /> -->
      选择一个文件:
      <input type="file" name="uploadFile" />
      <br /><br />
      <input type="submit" value="上传" />
    </form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="uploadCard = false">Cancel</el-button>
        <el-button type="primary" @click="uploadCard = false"> Confirm </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<style>
.flex-grow {
  flex-grow: 1;
}
</style>
