<template>
  <div class="center">
    <el-tabs type="border-card">
      <el-tab-pane label="信息">
        <el-card
          :body-style="{ padding: '5px' }"
          style="display: flex; justify-content: center; border-radius: 5px"
        >
          <div style="padding: 14px">
            <span>用户名: {{ username }}</span>
            <div class="bottom">
              <el-button type="primary" size="default" @click="dialogUpdatePwdVisible = true"
                >修改密码</el-button
              >
            </div>
          </div>
        </el-card>
      </el-tab-pane>
      <el-tab-pane label="收藏">
        <el-card
          :body-style="{ padding: '5px' }"
          style="display: flex; justify-content: center; border-radius: 5px"
        >
          <div style="padding: 14px">
            <el-row>
              <el-col
                style="margin-top: 16px"
                v-for="item in photoList"
                :key="item.photoid"
                :span="4"
                :offset="1"
              >
                <el-card
                  shadow="hover"
                  :body-style="{ padding: '5px' }"
                  style="display: flex; justify-content: center; border-radius: 5px"
                >
                  <el-image
                    style="width: 200px; height: 200px"
                    :src="`/api${item.src}`"
                    fit="fill"
                  />
                  <div style="padding: 14px">
                    <el-row>
                      <span>UP主: {{ item.account }}</span>
                      收藏号: {{ item.collectId }}
                    </el-row>
                    <el-row>
                      <span>表情号: {{ item.photoId }}</span>
                    </el-row>
                    <div class="bottom">
                      <el-button text @click="cancelCollect(item.collectId)">取消收藏</el-button>
                    </div>
                  </div>
                </el-card>
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-tab-pane>
    </el-tabs>
  </div>

  <el-dialog v-model="dialogUpdatePwdVisible" title="修改密码">
    <el-form>
      <el-form-item label="账号" label-width="140px">
        <el-input :value="username" autocomplete="off" disabled />
      </el-form-item>
      <el-form-item label="新密码" label-width="140px">
        <el-input v-model="password" autocomplete="off" />
      </el-form-item>
      <el-form-item label="确认密码" label-width="140px">
        <el-input v-model="checkPassword" autocomplete="off" />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogUpdatePwdVisible = false">取消</el-button>
        <el-button type="primary" @click="updatePasswordHander"> 确认修改 </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup lang="ts">
import { computed, ref, onMounted } from 'vue'
import { updatePassword } from '@/api/user'
import { cancelCollectByCollectId, getCollectByAccount } from '@/api/collect'
import { getPhotoById } from '@/api/photo'

const dialogUpdatePwdVisible = ref(false)

const password = ref('')
const checkPassword = ref('')

const collectList = ref([])

const photoList = ref([])

const getCollectList = async () => {
  try {
    const rs = await getCollectByAccount(username.value)
    collectList.value = rs.data.data
    console.log(rs.data.data)
  } catch (err) {
    console.log(err)
  }
}

const getPhoto = async (photoId: number) => {
  try {
    const rs = await getPhotoById(photoId)
    console.log(rs.data)
  } catch (error) {
    alert('获取收藏失败!')
  }
}

onMounted(async () => {
  await getCollectList()
  collectList.value.forEach(async (collect) => {
    try {
      const rs = await getPhotoById(collect.photoid)
      photoList.value.push({
        collectId: collect.collectid,
        ...rs.data.data,
      });
    } catch (error) {
      console.log('获取图片出现错误!')
    }
  })

  console.log(photoList.value)
})

const updatePasswordHander = async () => {
  if (!verifyPassword(password.value, checkPassword.value)) {
    alert('确认密码与新密码不一致')
    return
  }
  try {
    const rs = await updatePassword(username.value, password.value)
    alert(rs.data.data)
  } catch (error) {
    alert('修改密码失败')
  }

  dialogUpdatePwdVisible.value = false
  console.log('修改密码')
}

const cancelCollect = async (collectId: number) => {
  try {
    const rs = await cancelCollectByCollectId(collectId);
    getCollectList()
    location.reload();
    alert(rs.data.data);
  } catch (error) {
    alert('取消失败!')
  }
}

const verifyPassword = (pwd: string, checkPwd: string) => {
  return pwd === checkPwd
}

const username = computed(() => {
  const u = window.localStorage.getItem('account')
  if (u !== '' && u !== null) {
    return u
  } else {
    return '未登录'
  }
})
</script>

<style scoped>
.center {
  color: black;
}
</style>
