<template>
  <div class="login">
    <div id="login-box">
      <h1>iKun后援站</h1>
      <div class="input-box">
        <p>账号<input type="text" placeholder="请输入用户名称" v-model="account" /></p>
      </div>
      <div class="input-box">
        <p>密码<input type="password" placeholder="请输入密码" v-model="password" /></p>
      </div>
      <div>
        <button type="button" class="btn" @click="loginHandler">用户登录</button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { login } from '@/api/user'
import { useRouter } from "vue-router";
const account = ref('');
const password = ref('');
const router = useRouter();
const loginHandler = async () => {
  let rs;
  try {
    rs = await login(account.value, password.value);
    if (rs.data.code === 10000) {
      alert(rs.data.data);
      window.localStorage.setItem('account', account.value)
      router.push({ name: "home" });
    }
  } catch (error) {
    alert(rs);
  }
  
};
</script>

<style scoped>
.login {
  background-image: url(4.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
#login-box {
  background-color: #00000068;
  text-align: center;
  margin: 0px auto;
  margin-top: 200px;
  width: 350px;
  height: 400px;
  border-radius: 5%;
}
#login-box h1 {
  padding-top: 55px;
  color: white;
}

#login-box .input-box {
  margin-top: 20px;
  color: #ffffff;
}

#login-box .input-box input {
  border: none;
  background: none;
  border-bottom: #ffffff 2px solid;
  padding: 5px 10px;
  outline: none;
  color: white;
}
p {
  color: #ffffff;
}

#login-box button {
  font-size: 12px;
  margin-top: 25px;
  width: 185px;
  height: 30px;
  border-radius: 13px;
  outline: none;
  background: none;
  background-image: linear-gradient(120deg, rgb(172, 219, 250) 0%, pink 100%);
  color: white;
}
</style>
