<template>
    <div class="register">
        <div id="login-box">
        <h1>注册</h1>
        <div class="input-box">
            <p>账号<input type="text" placeholder="请输入用户名称" v-model="account"></p>
        </div>
        <div class="input-box">
            <p>密码<input type="password" placeholder="请输入密码" v-model="password"></p>
        </div>
        <div class="input-box">
            <p>确认密码<input type="password" placeholder="请确认密码" v-model="checkPassword"></p>
        </div>
        <div>
        <button type="button" class="btn" @click="registerHander">确认注册</button>
        </div>
    </div>
    </div>
</template>

<script setup lang="ts">
import {ref} from 'vue';
import { register } from '@/api/user'

const account = ref('');
const password = ref('');
const checkPassword = ref('');

const registerHander = async () => {
    try {
        const rs = await register(account.value, password.value, checkPassword.value);
        alert('注册成功!!!')
    } catch (error) {
        alert('注册失败');
    }
}

</script>

<style scoped>
html {
    height: 100%;
    widows: 100%;
}
.register {
    background-image: url(@/assets/4.jpeg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment: fixed; 
}
#login-box
{
    background-color: #00000068;
    text-align: center;
    margin: 0px auto;
    margin-top: 200px;
    width: 350px;
    height: 400px;
    border-radius: 5%;
}
#login-box h1{
    padding-top: 25px;
    color:white;
}

#login-box .input-box{
    margin-top: 20px;
    color: #ffffff;
}

#login-box .input-box input{
    border: none;
    background: none;
    border-bottom: #ffffff 2px solid;
    padding: 5px 10px;
    outline: none;
    color: white;   
}
p{color: #ffffff;}


#login-box button{
    font-size: 12px;
    margin-top: 25px;
    width: 185px;
    height: 30px;
    border-radius: 13px;
    outline: none;
    background: none;
    background-image: linear-gradient(120deg,rgb(172, 219, 250) 0%,pink 100% );
    color:white ;
}

</style>