<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <RouterView />
</template>

<style scoped>
body {
  background-image: url(@/assets/4.jpeg);
  height: 100%;
  width: 100%;
}
</style>
